# ==============================
# Project
# ==============================
PROJECT_KEY=changethis
PROJECT_USER=changethis
PROJECT_PASSWORD=changethis

# ==============================
# Environment
# ==============================
ENVIRONMENT=changethis # dev | test | staging | prod

# ==============================
# Database (Testcontainers override host/port)
# ==============================
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=api-analytics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# ==============================
# Redis
# ==============================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=changethis

# ==============================
# API / Security
# ==============================
SECURITY_KEY=changethis # WARNING: Change this to a long random secret in production!

# ==============================
# Backend
# ==============================
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"
TRUSTED_HOSTS=localhost