# ==============================
# Environment
# ==============================
ENVIRONMENT=local  # local | staging | test | prod
ENABLE_SELF_METRICS=true

# ==============================
# Project
# ==============================
PROJECT_ID=changethis  # UUID format
PROJECT_USER=changethis
PROJECT_PASSWORD=changethis

# ==============================
# Database
# ==============================
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=api-analytics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# ==============================
# Redis
# ==============================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=changethis

# ==============================
# Security
# ==============================
SECURITY_KEY=changethis # WARNING: Change this to a long random secret in production! Generate with: openssl rand -hex 32

# ==============================
# Backend API
# ==============================
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000,http://localhost:5173,https://localhost,https://localhost:5173"
TRUSTED_HOSTS=localhost
